/* General rules that apply to every page */
header h1 {
    text-align: center;
}

h2 {
    color: cadetblue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px auto;
    margin-right: 10px auto;
    background-color:antiquewhite;
    padding-bottom: 80px;
}

#problem-description li {
    font-style: italic;
}

#resources > p {
    color: brown;
    font-style: oblique;
}


/* CSS for Compare Page */

.compareBody {
    background-color: antiquewhite;
    padding-bottom: 80px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #fcdcb5;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #fcdcb5, antiquewhite);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #fcdcb5, antiquewhite);
  }

.search_bar_width {
    width: 300px;
}

footer {
    width: 100%;
    position:fixed;
    bottom:0;
    left:0;
    background-color: #dcc8c2;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
}

.container {
    margin-left: 0;
    margin-right: 0;
    padding: 1rem;
    max-width: none;
}

.dropdown {
    display: inline;
}









/* CSS for home page */
.pb-3{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.img-size{
    width: 1000px;
    height: 200px;
}

.card-title{
    font-size: 24px;
}

.card {
    border-radius: 10px;
}

.card-img-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.location {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.distance {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.star-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 36px;
    color: transparent; /* Make the icon transparent */
    -webkit-text-stroke: 1px rgb(0, 0, 0); /* Add black outline (edges) to the icon */
    cursor: pointer;
}

.first {
    margin-left: 20px;
}

#sign_up {
    text-align: center;
}

#login {
    text-align: center;
}

#button {
    margin-top: 10px;
    background-color: pink;
    width: 100px;
    border-radius: 10px;
}

#email {
    border-radius: 10px;
}

#password {
    border-radius: 10px;
}

#login_box {
    margin-top: 50px;
}









/* CSS for home page */
.pb-3{
    max-width: 100%;
    max-height: 100%;
}

.card-title{
    font-size: 24px;
}

.Sorting-Options {
    margin: 0 18px;
}



/* CSS for Compare Page */
.floor-plan-pill {
    margin: 0 4px;
}







.card-flip > div {
    backface-visibility: hidden;
    transition: transform 400ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    height: 100%; 
  /* overflow: auto; 
  display: flex;
  flex-direction: column;  */
  }

  /* .card-back .card-body {
    flex: 1; 
  } */
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }

  .apt-name {
    font-size: 1.2em;
    color: #000000;
  }
  
  .back-info {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555; 
  }









